<style>body { background-color: #000; }</style>
<script>
  (async() => {
    async function main() {
      // Parses the URL query string.
      var qs = getUrlParams();

      // If URL params other than "t" are specified make sure to keep track of
      // them to add them to redirectTo.  All instances of a dollar sign
      // followed by another character will be replaced with just the character
      // that followed (eg. "$$money" will become "$money" while "$t" will
      // become "t").  The dollar sign notation makes it possible to pass a "t"
      // param to the redirected page.
      let additionalQS = "";
      const qsKeys = Object.keys(qs);
      for (const qsKey of qsKeys) {
        // Keep track of all aditional params that are not the "t" param.
        if (qsKey !== 't') {
          additionalQS += (additionalQS ? '&' : '?')
            + encodeURIComponent(qsKey.replace(/\$(.)/g, '$1'))
            + `=${encodeURIComponent(qs[qsKey])}`;
        }
      }
      additionalQS = additionalQS.replace(/%20/g, '+');

      // Parses out the "t" parameter from the URL.
      const tData = qs.t ? JSON.parse(atob(qs.t)) : {};

      try {
        // Logs the user out if the "t" parameter says to.
        if (tData.logout) {
          await logout();
        }

        // Logs the user in if creds are found in the "t" parameter.
        const username = tData.user ?? tData.u;
        const password = tData.pass ?? tData.p;
        if (username) {
          const loginResult = await login(username, password);
          if (!loginResult.response.ok) {
            const errorMsg = loginResult.json?.message ?? 'Authentication was unsuccessful for an unknown reason.';
            throw new Error(errorMsg);
          }
        }
      }
      catch (err) {
        alert(err.message);
        console.error(err);
      }

      // Gets the redirect URL.
      const redirectTo = dedupeUrlParams(
        ((tData.redirect ?? tData.r ?? '/') + additionalQS).replace(/\?/g, '&').replace('&', '?')
      );

      // If the "debug" URL parameter is set then turn on the debugger while the
      // console is showing.
      if (qs.debug) {
        debugger;
      }

      // Navigates to the redirect URL.
      window.location.href = redirectTo;
    }

    async function login(username, password) {
      return postJSON('/login', { user: username, password });
    }

    async function logout() {
      await fetch('/logout');
    }

    /**
     * Removes duplicate URL params by just keeping the last one.
     * @param {string} url
     * @returns {string}
     */
    function dedupeUrlParams(url) {
      return url.replace(
        /\?([^#]*)(?=#|$)/,
        /**
         * @param {string} m
         * @param {string} qs
         */
        (m, qs) => {
          if (qs) {
            const strPairs = qs.split('&');
            /** @type {{[k: string]: string}} */
            const strPairsByKey = strPairs.reduce(
              (strPairsByKey, strPair) => Object.assign(
                strPairsByKey,
                {[strPair.split("=", 1)[0]]: strPair}
              ),
              {}
            );
            m = '';
            for (const strPair of Object.values(strPairsByKey)) {
              m += `${m ? '&' : '?'}${strPair}`;
            }
          }
          return m;
        }
      );
    }

    function getUrlParams() {
      var params = {};
      location.search.replace(/\+/g, ' ').replace(/[\?&]([^=&]+)=([^&]*)/g, function(m, key, value) {
        params[decodeURIComponent(key)] = decodeURIComponent(value);
      });
      return params;
    }

    async function postJSON(url, data) {
      const response = await fetch(url, {
        method: 'POST',
        credentials: 'include', // same as xhr.withCredentials = true
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      const text = await response.text();
      let json;
      try {
        json = JSON.parse(text);
      } catch (err) {}
      return { json, text, response };
    }

    // Run all of the code.
    await main();
  })();
</script>
