<a class="banner-link" target="_blank" href="http://go.pardot.com/l/480031/2019-06-11/h971cs">
    <div class="banner-logo" style="width: 25%; background-image: url('public/img/CopperHill/db-left.jpg');"></div>
    <div style="
        width: 50%;
        height: 4vw;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vw;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.3);
        overflow: visible;
        padding: 0.75%;">
        Save time. Prevent errors. Take Action.
    </div>
    <div style="background-image: url('public/img/CopperHill/db-right.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 33%;
        height: 4vw;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.7vw;
        padding: 1% 10% 1% 10%;">
        Contact us or visit our website to learn more about our CopperHill AIR solutions.
    </div>
</a>