<a class="banner-link" style="background-image: linear-gradient(to right, #00aeef, #164d85);" target="_blank" href="http://go.pardot.com/l/480031/2019-06-11/h971cs">
    <div class="banner-logo" style="width: 18%; margin: 0.1vh 1vw; background-image: url('public/img/InterDigital/ID-logo.png');"></div>
    <div style="height: 2.5vw; width: 1px; margin: 0.75vw 0; background-color: white;"></div>
    <div style="
        width: 70%;
        height: 4vw;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.2vw;
        font-weight: 400;
        color: white;
        overflow: visible;
        padding: 1.2%;">
        Digital Marketing Dashboard
    </div>
    <div class="chc-logo" style="background-size: contain;
        background-repeat: no-repeat;
        height: 3.5vw;
        width: 8%; 
        margin: 0.4vh 1vw; 
        background-image: url('public/img/InterDigital/CHC_logo.png');"></div>
</a>